{{outlet}}
<h1 class="title">About</h1>
<div class="row">
    <div class="col-md-2"></div>
    <h2 id="shoutout">This app was made possible by the data provided by <a href src="https://api.watttime.org/">  WattTime</a>.</h2>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 id="overview-container">Technologies used for this project</h2>
        <ul class="list-group">
            <li class="list-group-item">Node.js</li>
            <li class="list-group-item">Ember.js</li>
            <li class="list-group-item">Handlebars</li>
            <li class="list-group-item">Ajax/ jQuery</li>
            <li class="list-group-item">Bootstrap/ Flexbox</li>
            <li class="list-group-item">HTML/ CSS</li>
        </ul>
    </div>
</div>



<div class="footer">
    <p>Copyright (c) Celine Broomhead 2016</p>
</div>